include mixins

doctype html
html
  head
    title= title
    +bootswatch("cyborg")
    link(href="/public/stylesheets/github-markdown.css", rel="stylesheet")
  body(style="padding-top: 8rem; padding-bottom: 8rem;")
    if(team)
      nav( role="navigation", class="nav-bar navbar-inverse navbar-fixed-bottom")
        .container-fluid
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                p.navbar-text #{team.teamid}
              li
                p.navbar-text #{team.school}
            ul.nav.navbar-nav.navbar-right
              li
                p.navbar-text Rank: 1
              li
                p.navbar-text Score: #{team.teamscore}
              li
                p.navbar-text(id="timer") Time Remaining: 1:04.5
            //TODO add rest of pages
    +nav(competition.name, "dropdown_menu")
      if(team)
        +nav_item("/competition/dashboard") Dashboard
        +nav_item("/competition/info") Info
        +nav_item("/competition/problems") Problems
        //+nav_item("/competition/appeals") Appeals
        //+nav_item("/competition/clarifications") Clarifications 
        //.badge 1
      if(user)
        li(class=active): a( href="/logout" ) Logout, #{user.teamid}
    .container
      block content
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/public/javascripts/main.js')
    script(src='/public/javascripts/marked.js')
      
